@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");
/* Global styles */
.window-app {
  font-family: "Roboto", sans-serif;
}

.rollable:hover, .rollable:focus {
  color: #000;
  text-shadow: 0 0 10px red;
  cursor: pointer;
}

.grid,
.grid-2col {
  display: grid;
  grid-column: span 2/span 2;
  grid-template-columns: repeat(2, minmax(0, 1fr));
  gap: 10px;
  margin: 10px 0;
  padding: 0;
}

.grid-3col {
  grid-column: span 3/span 3;
  grid-template-columns: repeat(3, minmax(0, 1fr));
}

.grid-4col {
  grid-column: span 4/span 4;
  grid-template-columns: repeat(4, minmax(0, 1fr));
}

.grid-5col {
  grid-column: span 5/span 5;
  grid-template-columns: repeat(5, minmax(0, 1fr));
}

.grid-6col {
  grid-column: span 6/span 6;
  grid-template-columns: repeat(6, minmax(0, 1fr));
}

.grid-7col {
  grid-column: span 7/span 7;
  grid-template-columns: repeat(7, minmax(0, 1fr));
}

.grid-8col {
  grid-column: span 8/span 8;
  grid-template-columns: repeat(8, minmax(0, 1fr));
}

.grid-9col {
  grid-column: span 9/span 9;
  grid-template-columns: repeat(9, minmax(0, 1fr));
}

.grid-10col {
  grid-column: span 10/span 10;
  grid-template-columns: repeat(10, minmax(0, 1fr));
}

.grid-11col {
  grid-column: span 11/span 11;
  grid-template-columns: repeat(11, minmax(0, 1fr));
}

.grid-12col {
  grid-column: span 12/span 12;
  grid-template-columns: repeat(12, minmax(0, 1fr));
}

.grid-start-2 {
  grid-column-start: 2;
}

.grid-start-3 {
  grid-column-start: 3;
}

.grid-start-4 {
  grid-column-start: 4;
}

.grid-start-5 {
  grid-column-start: 5;
}

.grid-start-6 {
  grid-column-start: 6;
}

.grid-start-7 {
  grid-column-start: 7;
}

.grid-start-8 {
  grid-column-start: 8;
}

.grid-start-9 {
  grid-column-start: 9;
}

.grid-start-10 {
  grid-column-start: 10;
}

.grid-start-11 {
  grid-column-start: 11;
}

.grid-start-12 {
  grid-column-start: 12;
}

.grid-span-2 {
  grid-column-end: span 2;
}

.grid-span-3 {
  grid-column-end: span 3;
}

.grid-span-4 {
  grid-column-end: span 4;
}

.grid-span-5 {
  grid-column-end: span 5;
}

.grid-span-6 {
  grid-column-end: span 6;
}

.grid-span-7 {
  grid-column-end: span 7;
}

.grid-span-8 {
  grid-column-end: span 8;
}

.grid-span-9 {
  grid-column-end: span 9;
}

.grid-span-10 {
  grid-column-end: span 10;
}

.grid-span-11 {
  grid-column-end: span 11;
}

.grid-span-12 {
  grid-column-end: span 12;
}

.flex-group-center,
.flex-group-left,
.flex-group-right {
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  text-align: center;
}

.flex-group-left {
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  text-align: left;
}

.flex-group-right {
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  text-align: right;
}

.flexshrink {
  -webkit-box-flex: 0;
  -ms-flex: 0;
  flex: 0;
}

.flex-between {
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.flexlarge {
  -webkit-box-flex: 2;
  -ms-flex: 2;
  flex: 2;
}

.align-left {
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  text-align: left;
}

.align-right {
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  text-align: right;
}

.align-center {
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  text-align: center;
}

.fxLayoutColumn,
.fxLayoutRow {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.fxLayoutColumn {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-align: stretch;
  -ms-flex-align: stretch;
  align-items: stretch;
}
.fxLayoutColumn.fxLayoutGap-4 > * {
  -webkit-margin-after: 4px;
  margin-block-end: 4px;
}
.fxLayoutColumn.fxLayoutGap-4 > *:last-child {
  -webkit-margin-after: 0;
  margin-block-end: 0;
}
.fxLayoutColumn.fxLayoutGap-8 > * {
  -webkit-margin-after: 8px;
  margin-block-end: 8px;
}
.fxLayoutColumn.fxLayoutGap-8 > *:last-child {
  -webkit-margin-after: 0;
  margin-block-end: 0;
}
.fxLayoutColumn.fxLayoutGap-16 > * {
  -webkit-margin-after: 16px;
  margin-block-end: 16px;
}
.fxLayoutColumn.fxLayoutGap-16 > *:last-child {
  -webkit-margin-after: 0;
  margin-block-end: 0;
}

.fxLayoutRow {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
.fxLayoutRow.fxLayoutGap-4 > * {
  -webkit-margin-end: 4px;
  margin-inline-end: 4px;
}
.fxLayoutRow.fxLayoutGap-4 > *:last-child {
  -webkit-margin-end: 0;
  margin-inline-end: 0;
}
.fxLayoutRow.fxLayoutGap-8 > * {
  -webkit-margin-end: 8px;
  margin-inline-end: 8px;
}
.fxLayoutRow.fxLayoutGap-8 > *:last-child {
  -webkit-margin-end: 0;
  margin-inline-end: 0;
}
.fxLayoutRow.fxLayoutGap-16 > * {
  -webkit-margin-end: 16px;
  margin-inline-end: 16px;
}
.fxLayoutRow.fxLayoutGap-16 > *:last-child {
  -webkit-margin-end: 0;
  margin-inline-end: 0;
}

.fxFlex {
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
}

.axis-align-center {
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.align-items-start {
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
}

.align-items-end {
  -webkit-box-align: end;
  -ms-flex-align: end;
  align-items: flex-end;
}

.align-items-center {
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.align-items-baseline {
  -webkit-box-align: baseline;
  -ms-flex-align: baseline;
  align-items: baseline;
}

.align-items-stretch {
  -webkit-box-align: stretch;
  -ms-flex-align: stretch;
  align-items: stretch;
}

@font-face {
  font-family: "Aniron";
  src: url("../assets/fonts/aniron.ttf");
}
@font-face {
  font-family: "Aniron Bold";
  src: url("../assets/fonts/aniron-bold.ttf");
}
@font-face {
  font-family: "Breathe Fire";
  src: url("../assets/fonts/breathe-fire.otf");
}
@font-face {
  font-family: "Crom";
  src: url("../assets/fonts/crom_v1.ttf");
}
@font-face {
  font-family: "Scurlock";
  src: url("../assets/fonts/scurlock.ttf");
}
@font-face {
  font-family: "Stone Cross";
  src: url("../assets/fonts/stonecross.ttf");
}
/* Styles limited to boilerplate sheets */
.botit {
  /* Text Input */
}
.botit .profile-img, .botit .profile-img-small {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 100px;
  flex: 0 0 100px;
  height: 100px;
  margin-right: 10px;
}
.botit img.readonly {
  border: none;
}
.botit .profile-img-small {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 60px;
  flex: 0 0 60px;
  height: 60px;
}
.botit .sheet-header {
  -webkit-box-flex: 0;
  -ms-flex: 0 auto;
  flex: 0 auto;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  margin-bottom: 10px;
}
.botit .sheet-header .profile-img, .botit .sheet-header .profile-img-small {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 100px;
  flex: 0 0 100px;
  height: 100px;
  margin-right: 10px;
}
.botit .sheet-header .header-fields {
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
}
.botit .sheet-header h1.charname {
  height: 30px;
  padding: 0px;
  margin: 5px 0;
  border-bottom: 0;
}
.botit .sheet-header h1.charname input {
  width: 100%;
  height: 100%;
  margin: 0;
  font-size: 20px;
}
.botit .sheet-tabs {
  -webkit-box-flex: 0;
  -ms-flex: 0;
  flex: 0;
  background-color: #c5c2b0;
}
.botit .sheet-body .tab,
.botit .sheet-body .tab .editor {
  height: 100%;
}
.botit .sheet-body .tab > * {
  height: 100%;
}
.botit a:hover {
  text-shadow: 0 0 10px #121010;
}
.botit .tabs .item.active {
  text-shadow: 0 0 10px #121010;
}
.botit .tab-container {
  overflow: auto;
  padding-right: 8px;
}
.botit .tab-container > * {
  max-height: 0;
}
.botit .tox .tox-editor-container {
  background: #fff;
}
.botit .tox .tox-edit-area {
  padding: 0 8px;
}
.botit input[type=text],
.botit input[type=number],
.botit input[type=password],
.botit input[type=date],
.botit input[type=time] {
  width: 100%;
}
.botit textarea {
  background: rgba(0, 0, 0, 0.05);
  padding: 1px 3px;
  margin: 0;
  color: #191813;
  font-family: inherit;
  font-size: inherit;
  text-align: inherit;
  line-height: inherit;
  border: 1px solid #7a7971;
  border-radius: 3px;
  -webkit-user-select: text;
  -moz-user-select: text;
  -ms-user-select: text;
  user-select: text;
  resize: none;
}
.botit .remove-transform {
  -webkit-transform: none;
  -ms-transform: none;
  transform: none;
}
.botit .dotted-line {
  border-bottom: 1px dashed #7a7971;
}
.botit .drop-zone {
  border: 1px dashed #7a7971;
  border-radius: 4px;
}
.botit div.numerical-value,
.botit span.numerical-value {
  width: 20px;
  text-align: center;
}
.botit input[type=text].numerical-value,
.botit input[type=number].numerical-value {
  width: 30px;
  text-align: center;
}
.botit .free-text {
  min-height: 60px;
}
.botit .fieldset {
  padding: 8px;
  border: 1px solid #7a7971;
  border-radius: 3px;
}
.botit .overflow-auto {
  overflow: auto;
}
.botit .editor-small {
  height: 160px;
}
.botit .editor-small .editor {
  height: 100%;
}
.botit .attributes-block img {
  height: 30px;
}
.botit .attribute-name {
  font-family: "Aniron Bold";
  font-size: 16px;
}
.botit .derived-attribute {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
.botit .derived-attribute > * {
  display: block;
}
.botit .derived-attribute-name {
  font-size: 12px;
  font-weight: bold;
  text-align: center;
}

.title-1 {
  font-family: "Crom";
  font-size: 42px;
  text-transform: uppercase;
}

.title-1-alt {
  font-family: "Barbarian";
  font-size: 40px;
  text-transform: lowercase;
}
.title-1-alt::before {
  content: "[";
}
.title-1-alt::after {
  content: "]";
}

.title-2 {
  font-family: "Breathe Fire";
  font-size: 16px;
  font-weight: bold;
  text-transform: uppercase;
}

.title-3 {
  font-size: 12px;
  font-weight: bold;
}

.field-label {
  font-family: "Breathe Fire";
  font-weight: bold;
}

.font-weight-normal {
  font-weight: normal;
}

.action-icon,
.action-icon-large {
  font-size: 12px;
  text-align: center;
  -webkit-box-flex: 0;
  -ms-flex-positive: 0;
  flex-grow: 0;
}

.action-icon-large {
  font-size: 16px;
}