// Add custom fonts by visiting and search https://fonts.google.com
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

// Import utilities.
@import 'utils/typography';
@import 'utils/colors';
@import 'utils/mixins';
@import 'utils/variables';

/* Global styles */
@import 'global/window';
@import 'global/grid';
@import 'global/flex';
@import 'global/fonts';

/* Styles limited to boilerplate sheets */
.botit {
  @import 'components/forms';
  @import 'components/attributes';
}

.title-1 {
  font-family: "Crom";
  font-size: 42px;
  text-transform: uppercase;
}

.title-1-alt {
  font-family: "Barbarian";
  font-size: 40px;
  text-transform: lowercase;
  
  &::before {
    content: "["
  }

  &::after {
    content: "]"
  }
}

.title-2 {
  font-family: "Breathe Fire";
  font-size: 16px;
  font-weight: bold;
  text-transform: uppercase;
}

.title-3 {
  font-size: 12px;
  font-weight: bold;
}

.field-label {
  font-family: "Breathe Fire";
  font-weight: bold;
}

.font-weight-normal {
  font-weight: normal;
}

.action-icon,
.action-icon-large {
  font-size: 12px;
  text-align: center;
  flex-grow: 0;
}

.action-icon-large {
  font-size: 16px;
}