@font-face {
    font-family: "Aniron";
    src: url("../assets/fonts/aniron.ttf");
}

@font-face {
    font-family: "Aniron Bold";
    src: url("../assets/fonts/aniron-bold.ttf");
}

@font-face {
    font-family: "Breathe Fire";
    src: url("../assets/fonts/breathe-fire.otf");
}

@font-face {
    font-family: "Crom";
    src: url("../assets/fonts/crom_v1.ttf");
}

@font-face {
    font-family: "Scurlock";
    src: url("../assets/fonts/scurlock.ttf");
}

@font-face {
    font-family: "Stone Cross";
    src: url("../assets/fonts/stonecross.ttf");
}