<form class="{{cssClass}} fxLayoutColumn fxLayoutGap-16" autocomplete="off">
  <div class="fxLayoutRow fxLayoutGap-8">
    <img class="profile-img-small readonly" src="{{item.img}}" data-edit="img" title="{{item.name}}"/>
    <div class="fxLayoutColumn fxFlex">
      <span class="title-1">{{item.name}}</span>
      <span class="title-2">{{data.attribute}}</span>
    </div>
  </div>

  {{!-- Sheet Body --}}
  <section class="sheet-body">
    <div>{{readonlyEditor content=data.description owner=owner}}</div>
  </section>
</form>
